<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>/Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>com.cms.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProfileUpdateDetails</servlet-name>
    <servlet-class>com.cms.action.JSPProfileUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getInsuredAmount</servlet-name>
    <servlet-class>com.cms.action.InsuranceAmountAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMemberDetails</servlet-name>
    <servlet-class>com.cms.action.ProfileUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NomineeAddition</servlet-name>
    <servlet-class>com.cms.action.NomineeAdditionAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveNominee</servlet-name>
    <servlet-class>com.cms.action.RemoveNomineeNameAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailsBeforeRequest</servlet-name>
    <servlet-class>com.cms.action.JSPRequestClaimAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FianlAmountToBeClaimed</servlet-name>
    <servlet-class>com.cms.action.FinalClaimableAmountAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadRequest</servlet-name>
    <servlet-class>com.cms.action.RequestClaimAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/checkuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProfileUpdateDetails</servlet-name>
    <url-pattern>/getMemberProfileDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getInsuredAmount</servlet-name>
    <url-pattern>/fetchinsuranceamount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMemberDetails</servlet-name>
    <url-pattern>/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NomineeAddition</servlet-name>
    <url-pattern>/addnewnominee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveNominee</servlet-name>
    <url-pattern>/removenominee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailsBeforeRequest</servlet-name>
    <url-pattern>/getmemberdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FianlAmountToBeClaimed</servlet-name>
    <url-pattern>/getamount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadRequest</servlet-name>
    <url-pattern>/requestclaim</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>SearchClaimAction</display-name>
    <servlet-name>SearchClaimAction</servlet-name>
    <servlet-class>com.cms.action.SearchClaimAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClaimAction</servlet-name>
    <url-pattern>/SearchClaimAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SignOut</description>
    <display-name>SignOutAction</display-name>
    <servlet-name>SignOutAction</servlet-name>
    <servlet-class>com.cms.action.SignOutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutAction</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimProcess</display-name>
    <servlet-name>ClaimProcessAction</servlet-name>
    <servlet-class>com.cms.action.ClaimProcessAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimProcessAction</servlet-name>
    <url-pattern>/processclaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimApproval</display-name>
    <servlet-name>ClaimApprovalAction</servlet-name>
    <servlet-class>com.cms.action.ClaimApprovalAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimApprovalAction</servlet-name>
    <url-pattern>/statusupdate</url-pattern>
  </servlet-mapping>
    
</web-app>